/***********************************/
/* navbar */
/***********************************/
.navbar {
  position: fixed;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
  width: 100% !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-text, .navbar-dark .navbar-nav .nav-link  {
  color: black;
}

.top-nav-collapse {
  background-color: #82b1ff !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
 .navbar:not(.top-nav-collapse) {
  background: #82b1ff !important;
 }
}

/***********************************/
/* Cover */
/***********************************/
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.display-3.mb-0.pt-md-5.pt-5.white-text.font-weight-bold.wow.fadeInDown {
  margin-top: 20%;
  transform: translate(0, -20%);
}

h5 {
  letter-spacing: 3px;
}

.btn.btn-light-blue.btn-lg.btn-rounded {
    background-color:#82b1ff;
    background-color: transparent !important;
}

.btn.btn-indigo.btn-lg.btn-rounded {
    background-color: lightgray;
    background-color: transparent !important;
}

/***********************************/
/* Portfolio */
/***********************************/
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; 
  }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; 
  }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
  }

  @media (max-width: 450px) {
    .gallery {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
    }
  }

@media (max-width: 400px) {
    .btn.filter {
      padding-left: 1.1rem;
      padding-right: 1.1rem;
    }
}
  
button.close {
    position: absolute;
    right: 0;
    z-index: 2;
    padding-right: 1rem;
    padding-top: .6rem;
    color: white;
}

.close:hover {
    color: white;
    text-decoration: none;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: .5;
}
/***********************************/
/* Contact Form */
/***********************************/
#simple-contact-form {
    max-width: 100% !important; 
}

#maya-contact-email {
    font-size: 20px;
}

/***********************************/
/* footer */
/***********************************/
footer {
    background-color: aliceblue;
}